In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('C:\\Users\\User\\Downloads\\Data\\carprices.csv')

In [3]:
data.head()

  Car Model  Mileage  Sell Price($)  Age(yrs)
0    BMW X5    69000          18000         6
1    BMW X5    35000          34000         3
2    BMW X5    57000          26100         5
3    BMW X5    22500          40000         2
4    BMW X5    46000          31500         4

In [4]:
car_model = pd.get_dummies(data['Car Model'], dtype=int)

In [5]:
data = pd.concat([data, car_model], axis=1)
data.head()

,Car Model,Mileage,Sell Price($),Age(yrs),Audi A5,BMW X5,Mercedez Benz C class
0,BMW X5,69000,18000,6,0,1,0
1,BMW X5,35000,34000,3,0,1,0
2,BMW X5,57000,26100,5,0,1,0
3,BMW X5,22500,40000,2,0,1,0
4,BMW X5,46000,31500,4,0,1,0

In [6]:
data.drop(['Car Model', 'Mercedez Benz C class'], axis=1, inplace=True)

In [7]:
data.head()

   Mileage  Sell Price($)  Age(yrs)  Audi A5  BMW X5
0    69000          18000         6        0       1
1    35000          34000         3        0       1
2    57000          26100         5        0       1
3    22500          40000         2        0       1
4    46000          31500         4        0       1

In [8]:
x = data.drop(['Sell Price($)'], axis=1)
y = data['Sell Price($)']

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
my_model = LinearRegression()

In [11]:
my_model.fit(x.values, y)

LinearRegression()

In [12]:
y_pred = my_model.predict(x.values)

In [13]:
my_model.predict([[69000, 6, 0, 1]])

array([18705.2723644])

In [14]:
my_model.score(x.values,y)

0.9417050937281083

In [15]:
from sklearn.metrics import r2_score

In [16]:
r2_score(y, y_pred)

0.9417050937281083

# So here we got two to findout the accuracy of the model. First is using just my_model.score(x,y) and you do not need any module for this. Second is r2_score(y, y_pred), it will findout accuracy by comparing actual y to the prediction of y. And for the second one you have to import a module.